html {
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-variant: all-small-caps;
}

#upload-container {
    height: 64px;
    background-color: #EEA;
    border-radius: 10px 0 0 10px;
    padding: 6px;
    position:fixed;
    right: -70px;
    z-index: 2;
    transition: all 0.2s;
    box-shadow: 5px 5px 6px #9999;
    display: flex;
    align-items: center;
}

#upload-container:hover {
    right: 0px;
    background-color: #EEE;
}

#upload-text {
    width:70px;
    word-wrap: break-word;
    overflow: wrap;
    display: inline-block;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

#upload-arrow {
    /*height: 64px;*/
    font-size: 32px;
    display: inline-block;
}

.summary {
    max-height: 800px;
    display:    flex;
    flex-direction: column;
    flex-wrap:  wrap;
}

.column {
    width:  300px;
    font-family: 'Open Sans', sans-serif;
}

.gwenn1 {
    color:  #222;
    background-color:   #EEE;
}

.gwenn2 {
    color:  #222;
    background-color:   #DDD;
}

.ruz1 {
    color:  #FFF;
    background-color:   #E42;
}

.ruz2 {
    color:  #FFF;
    background-color:   #E24;
}

.du {
    color:  #EEE;
    background-color:   #111;
}

.glas {
    color:  #FFF;
    background-color:   #29E;
}


table {
    overflow: scroll;
}


#kenteliou, #ostilhou {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2em;
    line-height: 1.3em;
}

#ostilhou li, #kenteliou li {
    width:max-content;
}

/* Tooltip container */
.tooltip {
  position: relative;
  /*display: inline-block;*/
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 180px;
  background-color: #555;
  color: #fff;
  text-align: center;
  font-size: smaller;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  /*z-index: 1;*/
  bottom: 110%;
  left: 50%;
  margin-left: -90px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.5s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 0.9;
} 
