html {
    scroll-behavior: smooth;
}

#upload-container {
    background-color: #eeed;
    border-radius: 10px 0 0 10px;
    padding: 4px;
    position:fixed;
    right: -110px;
    z-index: 2;
    transition: 0.2s;
}

#upload-container:hover {
    right: 0px;
}

.summary {
    max-height: 800px;
    display:    flex;
    flex-direction: column;
    flex-wrap:  wrap;
}

.column {
    width:  300px;
}

.gwenn1 {
    color:  #222;
    background-color:   #EEE;
}

.gwenn2 {
    color:  #222;
    background-color:   #DDD;
}

.ruz1 {
    color:  #FFF;
    background-color:   #E42;
}

.ruz2 {
    color:  #FFF;
    background-color:   #E24;
}

.du {
    color:  #EEE;
    background-color:   #111;
}

.glas {
    color:  #FFF;
    background-color:   #29E;
}


table {
    overflow: scroll;
}


/* Tooltip container */
.tooltip {
  position: relative;
  /*display: inline-block;*/
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 180px;
  background-color: #555;
  color: #fff;
  text-align: center;
  font-size: smaller;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  /*z-index: 1;*/
  bottom: 110%;
  left: 50%;
  margin-left: -90px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.8s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 0.8;
} 
