.dropdown {
  width: max-content;
}

.dropdown-content {
  display: none;
}

.dropdown-content:hover {
  display: block;
  width: max-content;
}

.dropdown:hover + .dropdown-content {
  display: block;
  width: max-content;
}